*{
    box-sizing:border-box;}

/*GLOBAL*/

body{
    font-size: 150%;
    margin:0;
    font-family:"Lexend Deca", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    /*background-color:#80C7BE;*/
    color:#083833;
    
}

a{
    color:#083833;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
    color:#F8D36C;
}




/*HEADER*/

/*TOP HEADER*/
header{
    width:100vw;
    margin:0;
    padding:0;

}

#toppage{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem 1.5rem;
    background-color:#083833;
    color: #F8D36C;
}


#navbooking{
    padding:2rem;
    display:flex;
    
}
#weather_icon{
    display:flex;
    align-items: center;
    margin:0 2rem;
}

#navbooking a{
    padding:2rem;
    font-size:155%;
    text-decoration:none;
    color:white;
}

#navbooking a:last-of-type{
    color:#083833;
    font-size:135%;
}

#navbooking a:hover{
    
    color:#F8D36C;
}

#bookbutton{
    margin-left:1rem;
    border:3px solid #F8D36C;
    border-radius:15px;
    font-family:"Molle", cursive;
    background-color:#80C7BE ;
    
    text-align: center;
}

#bookbutton:hover{
    background-color: #629c95;
}

/*NAVIGATION BAR*/

nav{
    width:100vw;
    display:flex;
    justify-content:space-between;
    background-color:#80C7BE ;
    color:#083833;
    position:relative;
}

#nav_categories li{
    display:inline;
    list-style-type: none;
    padding:0.8rem 4rem;
    margin-left:1.5rem;
    border-radius: 8px;
    font-family:"Molle", cursive;
    font-size: 130%;
}
#nav_categories li:hover{
    background-color:#629c95;
}

#search{
    display:flex;
    align-items: center;
}

/*SEARCH BUTTON AND INPUT*/

#search_button{
    font-size:115%;
    margin:0 3.6rem;
    border:3px solid #629c95;
    border-radius:10px;
    background-color:#80C7BE;
    padding:0.5rem;
    width:5vw;
}

#search_button:hover{
    background-color: #629c95;
    border:2px solid #F8D36C;
}

#search_input{
    display:none;
    margin:0 2rem;
    border:2px solid #F8D36C;
    border-radius:5px;
    font-family:"Lexend Deca", Arial, Helvetica, sans-serif;;
    font-size:115%;
}

button#hamburger{
    display:none;
}





/*FOOTER*/

footer{
    
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:1rem 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #80C7BE;
}


#footer_text{
    padding-left:2rem;
    max-width:90%;
    min-width:70%;
}

#footer_text ul{
    padding:0;
}

#footer_text li{
    line-height:1.8;
    list-style-type: none;
}

#footer_social{
   display: flex;
   justify-content: flex-end;
   align-self: flex-start;
   flex-direction:row;
   flex-wrap: wrap;
   width:10%;
   height:100%;
   padding:2rem;
}

#footer_social a{
    margin-bottom:2rem;
}

#footer_social a:hover{
    border:2px solid #F8D36C;
    border-radius:8px;
}





/*MEDIA QUERIES - FROM LARGE SCREEN DESIGN TO MOBILE*/

/*BREAK POINT @ MAX-WIDTH 2800PX*/
@media screen and (max-width:2800px) {
    #footer_social{
        width:15%;
    }
    #navbooking a:last-of-type{
    font-size:130%;
}
}

/*BREAK POINT @MAX-WIDTH 1920PX*/
@media screen and (max-width:1920px) {
    body{
        font-size:120%;
    }
     #footer_social{
        width:17%;
    }
    
}

/*BREAK POINT @ MAX-WIDTH 1475PX*/
@media screen and (max-width:1475px) {

    #search{
        font-size:90%;
    }
    #search_button{
        width:5vw;
        margin:0 3.6rem;
    }
    #search_input{
        margin:0 0.8rem;
        width:15vw;
    }
    #nav_categories li{
    
    padding:0.8rem 3rem;
    margin-left:1rem;
    
}
 #footer_social{
        width:25%;
    }
}


/*BREAK POINT @ MAX-WIDTH 1200PX*/ /*change to hamburger menu, change footer alignment, change icon size*/
@media screen and (max-width:1200px) {

body{
    font-size:100%;
}

#toppage{
    flex-direction:column;
}

#toppage a img{
    max-width:40vw;
    min-width:25vw;
    height:auto;
}

#navbooking{
    padding:0;
    align-items:center;
}

#navbooking a{
    padding:0;
    margin:0 2rem;
    
}

#bookbutton{
    max-width:20vw;
    min-width:10vw;
    height:auto;
    font-size:125%;
    
}

    button#hamburger{
        display:block;
        margin:0 1rem;
        width:4rem;
        font-size:160%;
        background:none;
        color:#083833;
        border:none;
        cursor:pointer;
    }


nav{
    height:7vw;
}

#nav_categories{
        position:absolute;
        top:100%;
        right:0;
        width:100%;
        z-index:100;/*top layer*/
        background-color:#F8D36C;
        flex-direction: column;
        display:none;
}
#nav_categories.active{
    display:block;
}
#nav_categories ul{
      padding-left: 0;
    }
#nav_categories li{
        display:block;
        text-align:center;
        width:90%;
        padding:0;
        margin:0 auto;
    }
    #nav_categories li a{
        display:block;
        padding:1rem;
    }
    #nav_categories li a:hover{
        color:#F8D36C;
        text-decoration: underline;
    }
    
    #footer_social{
        width:30%;
        text-align: right;
    }
    #footer_social a{
        margin-right:1rem;
    }
    #footer_social a:last-of-type{
        margin-right:0;
    }
    
   #footer_text{
    width:70%;
   }

   #footer_text li{
    width:50%;
   }

}

/*BREAK POINT @ MAX-WIDTH 900PX

/*BREAK POINT @ MIN-WIDTH 320PX*/