*{
    box-sizing:border-box;}

/*GLOBAL*/

body{
    font-size: 160%;
    margin:0;
    font-family:"Lexend Deca", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    /*background-color:#80C7BE;*/
    color:#083833;
    
}

a{
    color:#083833;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
    color:#F8D36C;
}




/*HEADER*/

/*TOP HEADER*/
header{
    width:100vw;
    margin:0;
    padding:0;

}

#toppage{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem 1.5rem;
    background-color:#083833;
    color: #F8D36C;
}


#navbooking{
    padding:2rem;
    display:flex;
    
}
#weather_icon{
    display:flex;
    align-items: center;
    margin:0 2rem;
}

#navbooking a{
    padding:2rem;
    font-size:145%;
    text-decoration:none;
    color:white;
}

#navbooking a:last-of-type{
    color:#083833;
    font-size:135%;
}

#navbooking a:hover{
    
    color:#F8D36C;
}

#bookbutton{
    margin-left:1rem;
    border:3px solid #F8D36C;
    border-radius:15px;
    font-family:"Molle", cursive;
    background-color:#80C7BE ;
}

#bookbutton:hover{
    background-color: #629c95;
}

/*NAVIGATION BAR*/

nav{
    width:100vw;
    display:flex;
    justify-content:space-between;
    background-color:#80C7BE ;
    color:#083833;
}

#nav_categories li{
    display:inline;
    list-style-type: none;
    padding:0.8rem 4rem;
    margin-left:1.5rem;
    border-radius: 8px;
    font-family:"Molle", cursive;
    font-size: 130%;
}
#nav_categories li:hover{
    background-color:#629c95;
}

#search{
    display:flex;
    align-items: center;
}

/*SEARCH BUTTON AND INPUT*/

#search_button{
    font-size:115%;
    margin:0 3.6rem;
    border:3px solid #629c95;
    border-radius:10px;
    background-color:#80C7BE;
    padding:0.5rem;
    width:5vw;
}

#search_button:hover{
    background-color: #629c95;
    border:2px solid #F8D36C;
}

#search_input{
    display:none;
    margin:0 2rem;
    border:2px solid #F8D36C;
    border-radius:5px;
    font-family:"Lexend Deca", Arial, Helvetica, sans-serif;;
    font-size:115%;
}

button#hamburger{
    display:none;
}





/*FOOTER*/

footer{
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:1rem 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #80C7BE;
}


#footer_text{
    padding-left:2rem;
}

#footer_text ul{
    padding:0;
}

#footer_text li{
    line-height:1.8;
    list-style-type: none;
}

#footer_social{
   display: flex;
   justify-content: flex-end;
   align-self: flex-start;
   flex-direction:row;
   flex-wrap: wrap;
   width:10%;
   height:100%;
   padding:2rem;
}

footer small{
}

#footer_social a:hover{
    border:2px solid #F8D36C;
    border-radius:8px;
}





/*MEDIA QUERIES - LARGE SCREEN DESIGN TO MOBILE*/

/*BREAK POINT @ MAX-WIDTH 2444PX*/


/*BREKA POINT @MAX-WIDTH 1260PX*/
/*BODY FONT SIZE @125%*/
/*BREAK POINT @ MAX-WIDTH 1000PX*/

/*BREAK POINT @ MAX-WIDTH 600PX

/*BREAK POINT @ MIN-WIDTH 320PX*/